{% extends 'web_templates/base.html' %}

{% load static %}
{% load cms_tags %}

{% block title %} {% page_attribute page_title %} - Custom Software Development Company | Golden Eagle IT Technologies {% endblock %}

{% block content %}

<!-- Site Main Start -->
<div class="site-main">
  <!-- Career Banner Section Start -->
  <section class="clearfix careerBannerSection">
    <div class="career_banner_container">
      <div class="career_banner_bg">
        <div class="career_headtxt bg-base-dark">
          <div class="section-title">
            <div class="title-header">
              <h3>Career</h3>
              <h2 class="title">Job Openings</h2>
            </div>
            <div class="title-desc">
              <p class="mb-10">Joining Golden Eagle could be your life changing decision in doing so with endless goodies on the way.
                It is a home away from home, where we work as a team
                for a common goal - to evolve constantly with the latest technologies while taking utmost care of our
                most valuable assets, our employees. Experience the
                ‘Feel Good factor’ and the value of ‘Work-life balance’ by working with us.</p>
              <a class="cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-white mt-15"
                href="javascript:void(0)"><i class="icon-right"></i><span>Explore More</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Career Banner Section End -->


  <!-- Career Box Section Start -->
  <section class="cmt-row padding_top_zero-section clearfix careerBoxSection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title title-style-center_text">
            <div class="title-header">
              <h3>Hiring Urgent</h3>
              <h2 class="title">Current openings</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/ruby-on-rails.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Ruby on Rails</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Ruby, ROR, Spree</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/python.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Python Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Python, Flask, Restful Apis</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/django.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Django Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Django, Flask, Restful Apis</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/angular.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Angular Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Javascript, Jquery, HTML, CSS, Bootstrap, Angularjs, Angular all versions, MVC, Front End, Web services</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/ionic.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Ionic Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Ionic Framework, git, HTML5, Apache-Cordova, Design Development</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/flutter.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Flutter Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Flutter, Dart, IOS, Android, Web Services, SOAP, Mobile Applications, JSON</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 career_boxcol">
          <div class="career_box">
            <div class="career_box_title">
              <span><img src="{% static 'images/technology/react.png' %}" width="40" height="40"  alt="icon"></span>
              <h1>Reactjs Developer</h1>
            </div>
            <div class="career_box_desc">
              <h4><span>Skills :</span>Reactjs, Redux, Restful Apis, JavaScript Frameworks</h4>
              <h4><span>Location :</span>Indore</h4>
              <h4><span>Experience :</span>1 to 5 Years</h4>
              <a href="#">Apply Now<i class="icon-right ml-5"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Career Box Section End -->

</div>
<!--site-main end-->
{% endblock content %}
