{% extends 'web_templates/base.html' %}

{% load static %}
{% load cms_tags %}

{% block title %} {% page_attribute page_title %} - Custom Software Development Company | Golden Eagle IT Technologies {% endblock %}

{% block content %}

<!-- Site Main Start -->
<div class="site-main">
  <!-- Banner Start -->
  <section class="herobanner">
    <div class="container">
      <div class="herobanner_in">
        <div class="herobanner_content">
          <h1>No More Crunch for developers!</h1>
          <h2>Hire Dedicated Developers from</h2>
          <h3>Golden Eagle Technologies </h3>
          <h4>If you dream Big…</h4>
          <h4>We make it possible with our Skilled dedicated Developers.</h4>
          <h4>We have Technology In our DNA - <span>Hire Experts Remotely</span></h4>
          <a class="cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-dark" href="#"><i
              class="icon-right"></i><span>Connect TODAY!</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner End -->


  <!-- About Section Start -->
  <section class="cmt-row about-section clearfix AboutSection">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="cmt_single_image-wrapper d-table border-rad_2 overflow-hidden res-991-mt_15">
            <img width="1400" height="1200" class="img-fluid" src="{% static 'images/single-img-01.jpg' %}" alt="single-12">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="section-title">
            <div class="title-header">
              <h2 class="title">Hire Remote dedicated Developers from INDIA</h2>
            </div>
            <div class="title-desc">
              <p>Planning to Hire a Dedicated team of developers for your next Project? Golden Eagle Technologies
                is the destination; helping businesses
                worldwide with High Quality Dedicated Developers to express your business. We are committed,
                passionate and dedicated towards delivering
                top call services and out of the box value to your processes.
              </p>
            </div>
          </div>
          <div class="mb-30 res-1199-mb-10">
            <h3>We are known for</h3>
            <ul class="cmt-list cmt-list-style-icon">
              <li>
                <i class="icon-asterisk text-base-skin"></i>
                <span class="cmt-list-li-content text-base-dark">Competitive Advantage</span>
              </li>
              <li>
                <i class="icon-asterisk text-base-skin"></i>
                <span class="cmt-list-li-content text-base-dark">Talented Resources</span>
              </li>
              <li>
                <i class="icon-asterisk text-base-skin"></i>
                <span class="cmt-list-li-content text-base-dark">Guaranteed Quality</span>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12">
              <div class="cmt-fid inside style6">
                <div class="cmt-fid-contents text-left">
                  <h4 class="cmt-fid-inner">
                    <span>11</span>
                  </h4>
                  <h3 class="cmt-fid-title">Years of<br> Experience</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-9 col-sm-12">
              <h3 class="mb-0 pt-15 res-1199-pt-5">The IT Solutions & Services Company
                <br>Founded
                in<strong class="text-base-skin"> 2012</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->


  <!-- Get in Touch Section Start -->
  <section class="bg-base-dark cmt-bg cmt-bgimage-yes bg-img1 clearfix GetInTouchSection">
    <div class="container">
      <div class="row">
        <div class="col-12 GetInTouchSection_text">
          <div class="section-title title-style-center_text">
            <div class="title-header">
              <h3>Get in Touch</h3>
              <h2 class="title">Please do not hesitate, contact us now.</h2>
            </div>
          </div>
          <ul class="cmt-list cmt-list-style-icon">
            <li>
              <i class="icon-asterisk text-base-skin"></i>
              <span class="cmt-list-li-content text-base-grey">Competitive Advantage</span>
            </li>
            <li>
              <i class="icon-asterisk text-base-skin"></i>
              <span class="cmt-list-li-content text-base-grey">Talented Resources</span>
            </li>
            <li>
              <i class="icon-asterisk text-base-skin"></i>
              <span class="cmt-list-li-content text-base-grey">Guaranteed Quality</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Get in Touch Section End -->


  <!-- Get in Touch Form Section Start -->
  <section class="padding_zero-section clearfix GetInTouchForm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmt-bg cmt-col-bgcolor-yes bg-base-white cmt-bg border-rad_4 overflow-visible p-40 mt_80">
            <form action="#" class="query_form wrap-form clearfix" method="post">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="name" type="text" value="" placeholder="First Name"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="name" type="text" value="" placeholder="Last Name"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="email" type="text" value="" placeholder="Email Address"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <label>
                    <span class="text-input"><input name="subject" type="text" value="" placeholder="Subject"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <label>
                    <span class="text-input"><textarea name="message" rows="4" placeholder="Message goes here"
                        required="required"></textarea></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <button class="submit cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-dark mt-5"
                    type="submit"><i class="icon-right"></i><span>Send Message</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get in Touch Form Section End -->


  <!-- Advantage Section Start -->
  <section class="cmt-row bg-base-dark clearfix bg-img1 AdvantageSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title">
            <div class="title-header">
              <h3>Featured</h3>
              <h2 class="title">Advantages of Golden Eagle</h2>
            </div>
          </div>
          <ul class="cmt-list cmt-bordered-lists cmt-list-style-icon text-base-white cmt-list-icon-color-skincolor">
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Free Trial Period</span></li>
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Accountability of Work
                Accountability of Work</span></li>
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Money Back Guarantee Money Back
                Guarantee</span></li>
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Money Back Guarantee Money Back
                Guarantee</span></li>
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">unmatched Client
                Satisfaction</span></li>
            <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Military Grade Security, Data
                confidentiality & NDA Robust Network Infrastructure</span></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="row pl-30 res-1199-pl-0 res-1199-pt-10">
            <div class="col-lg-6 col-md-6 col-sm-6 border-bottom pb-30 res-575-pb-40 pl-0 res-991-pl-15">
              <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style5">
                <div class="cmt-fid-icon-wrapper">
                  <i class="flaticon-world"></i>
                </div>
                <div class="cmt-fid-contents">
                  <h4 class="cmt-fid-inner">
                    <span>32+</span>
                  </h4>
                  <h3 class="cmt-fid-title">Happy clients</h3>
                </div>
                <div class="cmt-fid-desc">
                  <p>our great work has been reach to global clients & their satisfaction.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 border-left border-bottom pb-30 pl-30 res-575-pl-15 res-575-pb-40">
              <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style5">
                <div class="cmt-fid-icon-wrapper">
                  <i class="flaticon-happy"></i>
                </div>
                <div class="cmt-fid-contents">
                  <h4 class="cmt-fid-inner">
                    <span>156 +</span>
                  </h4>
                  <h3 class="cmt-fid-title">Projects deliverd</h3>
                </div>
                <div class="cmt-fid-desc">
                  <p>Provided the best quality services in IT and help business to grow.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pt-30 res-575-pt-0 res-575-pb-40 pl-0 res-991-pl-15">
              <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style5">
                <div class="cmt-fid-icon-wrapper">
                  <i class="flaticon-suitcase"></i>
                </div>
                <div class="cmt-fid-contents">
                  <h4 class="cmt-fid-inner">
                    <span>11 +</span>
                  </h4>
                  <h3 class="cmt-fid-title">Years Experience</h3>
                </div>
                <div class="cmt-fid-desc">
                  <p>Celebrating 11 years! Let's take the moment to reflect milestone.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 border-left pl-30 res-575-pl-15 pt-30 res-575-pt-0">
              <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style5">
                <div class="cmt-fid-icon-wrapper">
                  <i class="flaticon-award"></i>
                </div>
                <div class="cmt-fid-contents">
                  <h4 class="cmt-fid-inner">
                    <span>122 +</span>
                  </h4>
                  <h3 class="cmt-fid-title">Specialist</h3>
                </div>
                <div class="cmt-fid-desc">
                  <p>Provided the best team for your project success.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Advantage Section End -->


  <!-- Service Section Start -->
  <section class="cmt-row padding_zero-section clearfix ServiceSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="cmt-bg cmt-col-bgcolor-yes bg-base-white cmt-bg border-rad_4 overflow-visible ServiceSection_boxarea">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-title title-style-center_text">
                  <div class="title-header">
                    <h3>Our services</h3>
                    <h2 class="title">Delivering technology solutions for your Business.</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/app-development-white.png' %}" alt="services"></div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/app-development.png' %}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>App Development</h3>
                    <p>State of the art world class web and Mobile Application in Ios And Android to accelerate your
                      Business.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">App Development</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>State of the art world class web and Mobile Application in Ios And Android to accelerate
                        your Business.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/ui-ux-design-white.png' %}" alt="services"></div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/ui-ux-design.png' %}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>UI/UX Design</h3>
                    <p>Innovative Designs, Exceptional results. A simple prototype or an end to end web and app
                      design we are known to provide a memorable user experience.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">UI/UX Design</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>Innovative Designs, Exceptional results. A simple prototype or an end to end web and app
                        design we are known to provide a memorable user experience.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/web-development-white.png' %}" alt="services"></div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/web-development.png' %}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>Web Development</h3>
                    <p>We create intuitive and charismatic web designs to surge your business aspirations.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">Web Development</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>We create intuitive and charismatic web designs to surge your business aspirations.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/offshore-development-white.png' %}" alt="services">
                  </div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/offshore-development.png'%}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>Offshore Development</h3>
                    <p>Whether it is coding or architectural design our in house experts are more than ready to
                      manoeuvre your mission critical needs.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">Offshore Development</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>whether it is coding or architectural design our in house experts are more than ready to
                        manoeuvre your mission critical needs.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/dedicated-developers-white.png' %}" alt="services">
                  </div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/dedicated-developers.png' %}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>Dedicated Developers</h3>
                    <p>Hire team of Dedicated Developers from the house of Experts offering world class technology
                      Solutions.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">Dedicated Developers</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>Hire team of Dedicated Developers from the house of Experts offering world class technology
                        Solutions.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 srvcbox_col">
                <div class="featured-icon-box icon-align-top-content style9">
                  <div class="bg_icon"><img src="{% static 'images/services/devops-development-white.png' %}" alt="services"></div>
                  <div class="featured-icon">
                    <img src="{% static 'images/services/devops-development.png' %}" alt="services">
                  </div>
                  <div class="featured-title">
                    <h3>Devops Development</h3>
                    <p>Relay upon Golden eagles devops services for enhanced culture, Quality and efficiency in your
                      development process.</p>
                  </div>
                  <div class="featured-hover-content">
                    <div class="featured-title">
                      <h3><a href="#">Devops Development</a></h3>
                    </div>
                    <div class="featured-desc">
                      <p>Relay upon Golden eagles devops services for enhanced culture, Quality and efficiency in
                        your development process.</p>
                    </div>
                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="#">Read
                      more<i class="icon-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Section End -->


  <!-- Team Head Section Start -->
  <section class="cmt-row bg-base-dark cmt-bg cmt-bgimage-yes bg-img3 clearfix TeamHeadSection">
    <div class="container">
      <div class="row">
        <div class="col-12 GetInTouchSection_text">
          <div class="section-title title-style-center_text mb-0">
            <div class="title-header">
              <h3>Our Team</h3>
              <h2 class="title">Meet our Team of Experts</h2>
            </div>
          </div>
          <div class="title-desc text-center mb-35">
            <h5 class="fw-500">We don't Brag about ourselves Instead our work does it for us</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Head Section End -->


  <!-- Team Box Section Start -->
  <section class="cmt-row team-section cmt-bg clearfix TeamBoxSection">
    <div class="container">
      <div class="row slick_slider TeamSlider"
        data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":992,"settings":{"slidesToShow": 3}}, {"breakpoint":778,"settings":{"slidesToShow": 2}}, {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'>
        <div class="cmt-box-col-wrapper col-lg-3">
          <div class="featured-imagebox featured-imagebox-team style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" width="535" height="500" src="{% static 'images/team-member/team-img01.jpg' %}" alt="image">
            </div>
            <div class="featured-content">
              <div class="team-position">IT Service Officer</div>
              <div class="featured-title">
                <h3><a href="#">Garreth Mills</a></h3>
              </div>
              <div class="featured-view-more">
                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="#">more
                  details</a>
              </div>
              <div class="featured-iconbox cmt-media-link">
                <div class="media-block">
                  <div class="media-btn"><i class="icon-plus"></i></div>
                  <ul class="social-icons list-inline">
                    <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                    <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                    <li class="social-pinterest"><a href="#"><i class="ti ti-pinterest"></i></a></li>
                    <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cmt-box-col-wrapper col-lg-3">
          <div class="featured-imagebox featured-imagebox-team style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" width="535" height="500" src="{% static 'images/team-member/team-img02.jpg' %}" alt="image">
            </div>
            <div class="featured-content">
              <div class="team-position">Web Designer</div>
              <div class="featured-title">
                <h3><a href="#">Ivan Hindshaw</a></h3>
              </div>
              <div class="featured-view-more">
                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="#">more
                  details</a>
              </div>
              <div class="featured-iconbox cmt-media-link">
                <div class="media-block">
                  <div class="media-btn"><i class="icon-plus"></i></div>
                  <ul class="social-icons list-inline">
                    <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                    <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                    <li class="social-pinterest"><a href="#"><i class="ti ti-pinterest"></i></a></li>
                    <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cmt-box-col-wrapper col-lg-3">
          <div class="featured-imagebox featured-imagebox-team style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" width="535" height="500" src="{% static 'images/team-member/team-img03.jpg' %}" alt="image">
            </div>
            <div class="featured-content">
              <div class="team-position">Project Manager</div>
              <div class="featured-title">
                <h3><a href="#">Natalia Zox</a></h3>
              </div>
              <div class="featured-view-more">
                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="#">more
                  details</a>
              </div>
              <div class="featured-iconbox cmt-media-link">
                <div class="media-block">
                  <div class="media-btn"><i class="icon-plus"></i></div>
                  <ul class="social-icons list-inline">
                    <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                    <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                    <li class="social-pinterest"><a href="#"><i class="ti ti-pinterest"></i></a></li>
                    <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cmt-box-col-wrapper col-lg-3">
          <div class="featured-imagebox featured-imagebox-team style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" width="535" height="500" src="{% static 'images/team-member/team-img04.jpg' %}" alt="image">
            </div>
            <div class="featured-content">
              <div class="team-position">Consultant Officer</div>
              <div class="featured-title">
                <h3><a href="#">Maria Gordian</a></h3>
              </div>
              <div class="featured-view-more">
                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="#">more
                  details</a>
              </div>
              <div class="featured-iconbox cmt-media-link">
                <div class="media-block">
                  <div class="media-btn"><i class="icon-plus"></i></div>
                  <ul class="social-icons list-inline">
                    <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                    <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                    <li class="social-pinterest"><a href="#"><i class="ti ti-pinterest"></i></a></li>
                    <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Box Section End -->


  <!-- Work Section Start -->
  <section class="cmt-row position-relative z-index-1 clearfix WorkSection">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="section-title">
            <div class="title-header">
              <h3>Portfolio</h3>
              <h2 class="title">Our recent Work projects</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-md-end res-767-pb-30">
            <a class="cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-dark" href="#"><i
                class="icon-right"></i><span>See more projects</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row slick_slider ps-3 pe-3"
        data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "arrows":false, "autoplay":true, "dots":false, "infinite":true, "responsive":[{"breakpoint":1200,"settings": {"slidesToShow": 4}}, {"breakpoint":992,"settings":{"slidesToShow": 3}},{"breakpoint":768,"settings":{"slidesToShow": 2}},{"breakpoint":500,"settings":{"slidesToShow": 1}}]}'>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-01-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/bootstrap1.png' %}" alt="bootstrap"></span>
              <div class="category">
                <span>Image Documentary</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">Bootstrap modal plugin</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-02-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/elementor1.png' %}" alt="elementor"></span>
              <div class="category">
                <span>SM Management</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">Elementor plugin</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-03-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/html-5.png' %}" alt="html"></span>
              <div class="category">
                <span>Software Development</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">HTML 5 language</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-04-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/rev-slider1.png' %}" alt="rev-slider"></span>
              <div class="category">
                <span>Revolution slider</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">Network Cabelling</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-05-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/wp1.png' %}" alt="wp1"></span>
              <div class="category">
                <span>Image Documentary</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">WordPress plugin</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="featured-imagebox featured-imagebox-portfolio style1">
            <div class="featured-thumbnail">
              <img class="img-fluid" height="800" width="700" src="{% static 'images/portfolio/portfolio-06-700x800.jpg' %}"
                alt="portfolio_img">
            </div>
            <div class="featured-content">
              <span class="pf-icon"><img src="{% static 'images/wp-bakery1.png' %}" alt="html"></span>
              <div class="category">
                <span>Author Projects</span>
              </div>
              <div class="featured-title">
                <h3><a href="#">Wp bakery plugin</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Work Section End -->


  <!-- Methodology Section Start -->
  <section class="cmt-row bg-img10 cmt-bgimage-yes cmt-bg clearfix MethodologySection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title title-style-center_text">
            <div class="title-header">
              <h3>Let’s get started</h3>
              <h2 class="title">Our Methodology</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
            <div class="col-12">
              <div class="circle-container">
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Research</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Explore</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Gather</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Ideate</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Plan</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Execute</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Implement</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h3>Deploy</h3>
                    </div>
                  </div>
                </div>
                <div class="outer-circle">
                  <div class="inner-circle">
                    <div class="inner-circle-content">
                      <h4>Support & Maintenance</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
      <div class="row">
        <div class="col-12">
          <div class="hexamain">
            <div class="hexacontainer">
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Research</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Explore</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Gather</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Ideate</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Plan</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Execute</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Implement</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h3>Deploy</h3>
                </div>
              </div>
              <div class="hexagrid">
                <div class="hexagrid_box">
                  <h4>Support & Maintenance</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Methodology Section End -->


  <!-- Testimonial Head Section Start -->
  <section class="cmt-row bg-base-dark cmt-bg cmt-bgimage-yes bg-img5 clearfix TestimonialHeadSection">
    <div class="container">
      <div class="row pb-30 res-991-pb-0">
        <div class="col-lg-12">
          <div class="section-title title-style-center_text mb-0">
            <div class="title-header">
              <h3>Testimonials</h3>
              <h2 class="title">Hear what our clients say About us</h2>
            </div>
            <div class="title-desc">
              <p>Our core values are the heart of all that we do. They are integrated into our daily work lives and
                help us to remember our customers always comes first.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Head Section End -->


  <!-- Testimonial Box Section Start -->
  <section class="cmt-row clearfix TestimonialBoxSection">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 offset-xl-0 col-lg-6 offset-lg-3 col-md-8 col-sm-10">
          <div
            class="ttm_single_image-wrapper position-relative d-table border-rad_2 overflow-hidden mr-10 res-991-mr-0 res-991-mt-60 z-index-1">
            <img width="493" height="356" class="img-fluid w-100" src="{% static 'images/single-img-06.jpg' %}" alt="single-06">
            <div class="d-table text-start bg-base-dark text-base-white p-30 pt-20 pb-20 pr-40">
              <div class="fs-16 lh-lg"><span class="mr-10"><strong class="underline">99.9% Customer
                    Satisfaction</strong> based on <b class="text-base-skin">750+</b> reviews and <b
                    class="text-base-skin">14,530 </b> Objective Resource</span><img class="d-inline"
                  src="{% static 'images/star-01.png' %}" width="88" height="15" alt="rating"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="cmt-bg cmt-col-bgcolor-yes bg-base-grey cmt-right-span cmt-expandcontent-yes spacing-4">
            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer bg-base-grey"></div>
            <div class="layer-content cmt-expandcontent_column">
              <div class="row slick_slider"
                data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows":false, "autoplay":true, "dots":false, "infinite":true, "responsive":[{"breakpoint":992,"settings":{"slidesToShow": 2}},{"breakpoint":767,"settings":{"slidesToShow": 1}}]}'>
                <div class="col-lg-6">
                  <div class="testimonials cmt-testimonial-box-view-style2">
                    <div class="testimonial-content">
                      <div class="testimonial-avatar">
                        <div class="testimonial-img">
                          <img width="70" height="70" class="img-fluid" src="{% static 'images/testimonial/01.jpg' %}"
                            alt="testimonial-img">
                        </div>
                      </div>
                      <div class="testimonial-caption">
                        <h3>Victor Wilson</h3>
                        <label>Web Developer</label>
                      </div>
                      <blockquote class="testimonial-text">We are still not sure how we got here, but we’re excited
                        about where we’re going. Their innovators & engineer makes things easy and in a timely
                        matter.</blockquote>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="testimonials cmt-testimonial-box-view-style2">
                    <div class="testimonial-content">
                      <div class="testimonial-avatar">
                        <div class="testimonial-img">
                          <img width="70" height="70" class="img-fluid" src="{% static 'images/testimonial/02.jpg' %}"
                            alt="testimonial-img">
                        </div>
                      </div>
                      <div class="testimonial-caption">
                        <h3>Aenna Bell</h3>
                        <label>IT Manager</label>
                      </div>
                      <blockquote class="testimonial-text">An excellent and hard working. Thanks to them, we were
                        able to achieve our goal on time, and we look forward to continue working with them in the
                        future.</blockquote>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="testimonials cmt-testimonial-box-view-style2">
                    <div class="testimonial-content">
                      <div class="testimonial-avatar">
                        <div class="testimonial-img">
                          <img width="70" height="70" class="img-fluid" src="{% static 'images/testimonial/03.jpg' %}"
                            alt="testimonial-img">
                        </div>
                      </div>
                      <div class="testimonial-caption">
                        <h3>Er. john Martin</h3>
                        <label>WordPress Expert</label>
                      </div>
                      <blockquote class="testimonial-text">An excellent and hard working. Thanks to them, we were
                        able to achieve our goal on time, and we look forward to continue working with them in the
                        future.</blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Box Section End -->


  <!-- Contact Box Section Start -->
  <section class="cmt-row padding_top_zero-section bg-layer-equal-height clearfix ContactBoxSection">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="pl-10 res-991-pl-0 res-991-pt-40">
            <div class="section-title">
              <div class="title-header">
                <h3>We Love to talk !! </h3>
                <h2 class="title">Connect with Our Experts</h2>
              </div>
            </div>
            <form action="#" class="query_form wrap-form clearfix" method="post">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="name" type="text" value="" placeholder="First Name"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="name" type="text" value="" placeholder="Last Name"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="email" type="text" value="" placeholder="Email Address"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <label>
                    <span class="text-input"><input name="subject" type="text" value="" placeholder="Subject"
                        required="required"></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <label>
                    <span class="text-input"><textarea name="message" rows="4" placeholder="Message goes here"
                        required="required"></textarea></span>
                  </label>
                </div>
                <div class="col-md-12">
                  <button class="submit cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-dark mt-5"
                    type="submit"><i class="icon-right"></i><span>Send Message</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="cmt-bg cmt-col-bgcolor-yes bg-base-dark cmt-bg border-rad_2 overflow-hidden spacing-6">
            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer bg-base-dark">
              <div class="cmt-col-wrapper-bg-layer-inner"></div>
            </div>
            <div class="layer-content">
              <div class="section-title">
                <div class="title-header">
                  <h3>Have a project In Mind?</h3>
                  <h2 class="title">Don't know how to Materialise ?</h2>
                </div>
                <div class="title-desc">
                  <p>Our core values are the heart of all that we do. They are integrated into our daily work lives
                    and
                    help us to remember our customers always comes first.</p>
                </div>
              </div>
              <div class="g-map mt-30" id="map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.365571825472!2d75.89482001533733!3d22.7518106321016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962e2c99432dc5b%3A0x856ffb203358138!2sGolden%20Eagle%20IT%20Technologies%20Pvt.%20Ltd.%20(Mobile%20and%20web%20development%20company)!5e0!3m2!1sen!2sin!4v1657531489757!5m2!1sen!2sin"
                  width="370" height="240" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Box Section End -->


  <!-- Award Section Start -->
  <section class="cmt-row clearfix AwardSection">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="cmt_single_image-wrapper res-991-pt-30 border-rad_2 overflow-hidden">
            <img width="360" height="620" class="img-fluid" src="{% static 'images/single-img-14-1.jpeg' %}" alt="single_14">
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <div class="pt-10">
            <div class="section-title">
              <div class="title-header">
                <h3>Achievements</h3>
                <h2 class="title">Awards and Associations</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">ISO</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Nasscomm</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">CMMI Level-3</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Best Place to Work</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Clutch</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Goodfrim</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Glassdoor</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Ambition Box</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Software suggest</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="featured-icon-box icon-align-before-title">
                  <div class="featured-icon">
                    <div
                      class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-round cmt-icon_element-color-grey cmt-icon_element-size-xs">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <h3 class="fs-18 fw-normal">Capterra</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-10 res-991-pt-0">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex">
                  <div class="pr-25">
                    <img width="148" height="107" class="img-fluid" src="{% static 'images/author_01.png' %}" alt="autho_01">
                  </div>
                  <div class="pr-25">
                    <img width="149" height="107" class="img-fluid" src="{% static 'images/author_02.png' %}" alt="autho_02">
                  </div>
                  <div class="pr-25">
                    <img width="157" height="107" class="img-fluid" src="{% static 'images/author_03.png' %}" alt="autho_03">
                  </div>
                  <div class="pr-0">
                    <img width="149" height="107" class="img-fluid" src="{% static  'images/author_02.png' %}" alt="autho_02">
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-25">
              <h3>11 years of excellence, tremendous dedication & modern technological inventions for stimulating
                progress</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Award Section End -->
</div>
<!--site-main end-->
{% endblock content %}

