{% extends 'web_templates/base.html' %}

{% load static %}
{% load cms_tags %}

{% block title %} {% page_attribute page_title %} - Custom Software Development Company | Golden Eagle IT Technologies {% endblock %}

{% block content %}

    <!-- Site Main Start -->
    <div class="site-main">
      <!-- Page Title Section Start -->
      <div class="cmt-page-title-row bg-base-dark cmt-bg cmt-bgimage-yes clearfix PageTitleSection">
        <div class="cmt-titlebar-wrapper-bg-layer cmt-bg-layer"></div>
        <div class="container">
          <div class="cmt-page-title-row-inner">
            <div class="page-title-heading">
              <h2 class="title">Know Us</h2>
            </div>
            <div class="breadcrumb-wrapper">
              <span>
                <a title="Homepage" href="index.php">Home</a>
              </span>
              <span>Know us</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Title Section Start -->


      <!-- About Section Start -->
      <section class="cmt-row about-section clearfix AboutSection">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-6 col-md-12">
              <div class="cmt_single_image-wrapper d-table border-rad_2 overflow-hidden res-991-mt_15">
                <img width="1400" height="1200" class="img-fluid" src="{% static 'images/single-img-01.jpg' %}" alt="single-12">
              </div>
            </div>
            <div class="col-xl-6 col-md-12">
              <div class="section-title">
                <div class="title-header">
                  <h4>Award Winning World class Custom Software Development Company</h4>
                  <h4>Complex project and Don't Know How to Start!</h4>
                </div>
              </div>
              <div class="mb-10">
                <h3>We have All the Answers….</h3>
                <ul class="cmt-list cmt-list-style-icon">
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Convert Ideas to Designs</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Enhanced User Experience</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Unprecedented Return of Investments</span>
                  </li>
                </ul>
              </div>
              <div class="mb-10">
                <h3>You choose us for</h3>
                <ul class="cmt-list cmt-list-style-icon">
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Exponential Productivity</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Competitive Excellence</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Exuberant Customer Experience</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Agile Technology Adoption</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Sustainable Growth</span>
                  </li>
                  <li>
                    <i class="icon-asterisk text-base-skin"></i>
                    <span class="cmt-list-li-content text-base-dark">Higher ROI</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Section End -->


      <!-- About Text Section Start -->
      <section class="cmt-row cmt-bgimage-yes cmt-bg clearfix AboutTextSection">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title title-style-center_text">
                <div class="title-header">
                  <h2 class="title">Bespoke Custom Software Development Services In India and USA (Custom Tag)</h2>
                </div>
                <div class="title-desc">
                  <p>Our Custom software applications are designed and built to Digitally Transform optimise business
                    processes saving your time and cost amidst increasing efficiency.</p>
                  <p>At Golden Eagle Technologies We have a dynamic, Innovative and Dedicated team of custom software
                    developers who have years of experience in technologies and Domains expertise in building robust and
                    efficient Business systems.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Text Section End -->


      <!-- Contact Box Section Start -->
      <section
        class="cmt-row padding_top_zero-section bg-layer-equal-height clearfix ContactBoxSection AboutContactBoxSection">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="cmt-bg cmt-col-bgcolor-yes bg-base-dark cmt-bg border-rad_2 overflow-hidden spacing-6">
                <div class="layer-content">
                  <div class="section-title">
                    <div class="title-header">
                      <h3>We Love to talk !! </h3>
                      <h2 class="title">Talk to our Experts TODAY!</h2>
                    </div>
                  </div>
                  <div class="featured-icon-box icon-align-before-content p-25 border border-color border-rad_2">
                    <div class="featured-icon">
                      <div
                        class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-skincolor cmt-icon_element-size-sm cmt-icon_element-style-round">
                        <i class="flaticon flaticon-phone-call"></i>
                      </div>
                    </div>
                    <div class="featured-content">
                      <div class="featured-title">
                        <h2 class="fs-15 fw-normal bodyfont-color mb-5">Phone Number</h2>
                        <h3 class="fs-24 text-base-skin mb-0">+91 95843-09000</h3>
                      </div>
                    </div>
                  </div>
                  <div class="featured-icon-box icon-align-before-content p-25 border border-color border-rad_2">
                    <div class="featured-icon">
                      <div
                        class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-skincolor cmt-icon_element-size-sm cmt-icon_element-style-round">
                        <i class="flaticon flaticon-envelope"></i>
                      </div>
                    </div>
                    <div class="featured-content">
                      <div class="featured-title">
                        <h2 class="fs-15 fw-normal bodyfont-color mb-0">Any Quetions? Email us</h2>
                        <h3 class="fs-15 fw-500 mb-0">info@geitpl.com</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="pl-10 res-991-pl-0 res-991-pt-40">
                <form action="#" class="query_form wrap-form clearfix" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <label>
                        <span class="text-input"><input name="name" type="text" value="" placeholder="First Name"
                            required="required"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label>
                        <span class="text-input"><input name="name" type="text" value="" placeholder="Last Name"
                            required="required"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label>
                        <span class="text-input"><input name="email" type="text" value="" placeholder="Email Address"
                            required="required"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label>
                        <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone"
                            required="required"></span>
                      </label>
                    </div>
                    <div class="col-md-12">
                      <label>
                        <span class="text-input"><input name="subject" type="text" value="" placeholder="Subject"
                            required="required"></span>
                      </label>
                    </div>
                    <div class="col-md-12">
                      <label>
                        <span class="text-input"><textarea name="message" rows="4" placeholder="Message goes here"
                            required="required"></textarea></span>
                      </label>
                    </div>
                    <div class="col-md-12">
                      <button
                        class="submit cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-dark mt-5"
                        type="submit"><i class="icon-right"></i><span>Send Message</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Box Section End -->


      <!-- Technology Master Section Start -->
      <section class="cmt-row bg-base-dark cmt-bg cmt-bgimage-yes bg-img5 clearfix TechnologyMasterSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title title-style-center_text">
                <div class="title-header">
                  <h3>Expertise</h3>
                  <h2 class="title text-base-white">Technologies we Master</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/django.png' %}" alt="Technology"></span>
                <h3>Django</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/flutter.png' %}" alt="Technology"></span>
                <h3>Flutter</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/python.png' %}" alt="Technology"></span>
                <h3>Python</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/ruby-on-rails.png' %}" alt="Technology"></span>
                <h3>Ruby on Rails</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/react.png' %}" alt="Technology"></span>
                <h3>React</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/angular.png' %}" alt="Technology"></span>
                <h3>Angular</h3>
              </div>
            </div>
            <div class="col TechnameCol">
              <div class="TechnameBox">
                <span><img src="{% static 'images/technology/typescript.png' %}" alt="Technology"></span>
                <h3>Typescript</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Technology Master Section End -->


      <!-- Industries Section Start -->
      <section class="cmt-row clearfix IndustriesSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div
                class="cmt-bg cmt-col-bgcolor-yes bg-base-white cmt-bg border-rad_4 overflow-visible ServiceSection_boxarea">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-title title-style-center_text">
                      <div class="title-header">
                        <h3>Specialities</h3>
                        <h2 class="title">Industries We Serve</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-cloud"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Healthcare</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-cyber-security"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Fintech</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-server"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Manufacturing</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-award"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Entertainment</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-mission"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Retail</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-world"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Edtech</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-world"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Tourism</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-world"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>BFSI</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="featured-icon-box icon-align-before-content style4">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                          <i class="flaticon-world"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <span class="number"></span>
                        <div class="featured-title">
                          <h3>Hospitality</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Industries Section End -->


      <!-- USP Section Start -->
      <section class="cmt-row p-0 clearfix USPSection">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-7 col-md-12">
              <div class="cmt-bg cmt-col-bgcolor-yes cmt-bg cmt-left-span USPSectionText">
                <div class="layer-content">
                  <div class="section-title">
                    <div class="title-header">
                      <h2 class="title">Our USP</h2>
                    </div>
                  </div>
                  <div class="pt-5">
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style3 pb-5">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-rounded cmt-icon_element-color-skincolor cmt-icon_element-size-xs">
                          <i class="number"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Clear Road Map</h3>
                        </div>
                        <div class="featured-desc">
                          <p>we follow a data and result driven approach and a clear Methodology to transcend the
                            project into a Functional ROI Generator.</p>
                        </div>
                      </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style3 pb-5">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-rounded  cmt-icon_element-color-skincolor cmt-icon_element-size-xs">
                          <i class="number"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Proven Project Management</h3>
                        </div>
                        <div class="featured-desc">
                          <p>Absolute Methodological Project management with schedules, Scope of work, Risk Mitigations,
                            Budget and delivery timelines.</p>
                        </div>
                      </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style3 pb-5">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-rounded  cmt-icon_element-color-skincolor cmt-icon_element-size-xs">
                          <i class="number"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Flexibility in Engagement</h3>
                        </div>
                        <div class="featured-desc">
                          <p>Flexible and Budget friendly association model with professionalism and Transparency</p>
                        </div>
                      </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style3 mb-0">
                      <div class="featured-icon">
                        <div
                          class="cmt-icon cmt-icon_element-fill cmt-icon_element-style-rounded  cmt-icon_element-color-skincolor cmt-icon_element-size-xs">
                          <i class="number"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Consistency</h3>
                        </div>
                        <div class="featured-desc">
                          <p>We adopt the latest tools and technologies in trend to ensure consistent and mindful
                            project deliveries.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-one cmt-right-span z-index-2">
                <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                <div class="layer-content">
                </div>
              </div>
              <img class="img-fluid cmt-equal-height-image w-100" src="{% static 'images/bg-image/col-bgimage-1.jpg' %}"
                alt="bg-image">
            </div>
          </div>
        </div>
      </section>
      <!-- USP Section End -->


      <!-- Contact 2 Section Start -->
      <section class="cmt-row bg-base-dark cmt-bg cmt-bgimage-yes bg-img5 clearfix AboutContact2BoxSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title style2 mb-0 res-991-mb_20">
                <div class="title-header">
                  <h3>Contact Us</h3>
                  <h4 class="title">Looking for a MINDBLOWING custom software development team ?</h4>
                </div>
                <div class="title-desc">
                  <p>Connect for a FREE Consultation. Kick start your new project with TECH MAVERICKS</p>
                  <a class="cmt-btn btn-default cmt-icon-btn-left cmt-btn-size-md cmt-btn-color-white mt-15" href="javascript:void(0)"><i
                      class="icon-right"></i><span>Contact Us</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact 2 Section End -->

    </div>
    <!--site-main end-->

{% endblock content %}