{% extends 'web_templates/base.html' %}

{% load static %}
{% load cms_tags %}

{% block title %} {% page_attribute page_title %} - Custom Software Development Company | Golden Eagle IT Technologies {% endblock %}

{% block content %}

    <!-- Site Main Start -->
    <div class="site-main">
      <!-- PageHead Section Start -->
      <section class="cmt-row bg-base-dark clearfix bg-img1 PageHeadSection TeamPageHeadSection">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="section-title mb-0 pb-0">
                <div class="title-header mb-0 pb-0">
                  <h3>Our Team</h3>
                  <h2 class="title text-base-white">Join the Most Innovative Team of Technologists, Join the revolution, Join Golden Eagle</h2>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="title-desc mb-20">
                <h5 class="fw-500">Things that Reflects our culture</h5>
              </div>
              <ul class="cmt-list cmt-bordered-lists cmt-list-style-icon text-base-white cmt-list-icon-color-skincolor">
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Transparency</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Progressive</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Happy Faces</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">We Love challenges</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Flexible working hours</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Rewarding career</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Fun and Joy</span></li>
                <li><i class="fas fa-arrow-right"></i><span class="cmt-list-li-content">Trust</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- PageHead Section End -->


      <!-- Team Section Start -->
      <section class="cmt-row clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title style2">
                <div class="title-header">
                  <h3>Meet Our Team</h3>
                  <h2 class="title">Our talented team members</h2>
                </div>
                <div class="title-desc">
                  <p>The positive distinction within the World Inspiring of Success &amp; Connections of People and
                    Organizations.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb_15">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img01.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">IT Service Officer</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Garreth Mills</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img02.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">Web Designer</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Ivan Hindshaw</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img03.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">Project Manager</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Natalia Zox</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img04.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">Consultant Officer</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Maria Gordian</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img05.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">Product Analyst</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Anna Konikova</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured-imagebox featured-imagebox-team style1">
                <div class="featured-thumbnail">
                  <img width="535" height="500" class="img-fluid" src="{% static 'images/team-member/team-img06.jpg' %}" alt="image">
                </div>
                <div class="featured-content">
                  <div class="team-position">IT Associative</div>
                  <div class="featured-title">
                    <h3><a href="team-details.html">Sarah Rose</a></h3>
                  </div>
                  <div class="featured-view-more">
                    <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skincolor" href="team-details.html">more
                      details</a>
                  </div>
                  <div class="featured-iconbox cmt-media-link">
                    <div class="media-block">
                      <div class="media-btn"><i class="icon-plus"></i></div>
                      <ul class="social-icons list-inline">
                        <li class="social-facebook"><a href="https://www.facebook.com/cymolthemes.191219"><i
                              class="ti ti-facebook"></i></a></li>
                        <li class="social-twitter"><a href="https://twitter.com/CymolThemes"><i
                              class="ti ti-twitter-alt"></i></a></li>
                        <li class="social-pinterest"><a href="https://in.pinterest.com/cymolthemes/"><i
                              class="ti ti-pinterest"></i></a></li>
                        <li class="social-instagram"><a href="https://www.instagram.com/cymol_themes/"><i
                              class="ti ti-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Team Section End -->

    </div>
    <!--site-main end-->

{% endblock content %}