{% load cms_tags menu_tags sekizai_tags %}

{% load static %}
{% load cms_tags %}
{% load menu_tags %}


<!-- Header Start -->
<header>
  <div class="Header cmt-stickable-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.php">
          <img height="72" width="180" class="img-fluid auto_size" src="{% static 'images/logo/logo1.png' %}" alt="logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul>
            {% show_menu 0 10 10 10 "menus/menus.html" %}
          </ul>
         
        </div>

      </nav>
    </div>
  </div>
</header>
<!-- Header End -->