{% load static %}

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    Services
  </a>
  <ul class="dropdown-menu large-dropdown service-dropdown" aria-labelledby="serviceDropdown">
    <div class="row">
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/app-development.png' %}" alt="img" width="24"
                height="24"></span> App Development</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/ui-ux-design.png' %}" alt="img" width="24" height="24"></span>
            UI/UX Design</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/web-development.png' %}" alt="img" width="24"
                height="24"></span> Web Development</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/offshore-development.png' %}" alt="img" width="24"
                height="24"></span> Offshore Development</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/dedicated-developers.png' %}" alt="img" width="24"
                height="24"></span> Dedicated Developers</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3><span><img src="{% static 'images/services/devops-development.png' %}" alt="img" width="24"
                height="24"></span> DevOps Development</h3>
          <ul>
            <li><a href="#">App Development</a></li>
            <li><a href="#">UI / UX</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Offshore Development</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="technologyDropdown" role="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    Technology
  </a>
  <ul class="dropdown-menu large-dropdown technology-dropdown" aria-labelledby="technologyDropdown">
    <div class="row">
      <div class="col">
        <div class="large-menubox">
          <h3>Mobiles</h3>
          <ul>
            <li><a href="#"><span><img src="{% static 'images/technology/ios.png' %}" alt="icon" width="20px"
                    height="20px"></span> iOS</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/android.png' %}" alt="icon" width="20px"
                    height="20px"></span> Android</a></li>
            <li><a href="#"><span><img src="{%static 'images/technology/react.png" alt="icon' %}" width="20px"
                    height="20px"></span> React</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/flutter.png' %}" alt="icon" width="20px"
                    height="20px"></span> Flutter</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/ionic.png' %}" alt="icon" width="20px"
                    height="20px"></span> Ionic</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3>Front End</h3>
          <ul>
            <li><a href="#"><span><img src="{% static 'images/technology/html-css.png' %}" alt="icon" width="20px"
                    height="20px"></span> HTML/CSS</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/bootstrap.png' %}" alt="icon" width="20px"
                    height="20px"></span> Bootstrap</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/material-ui.png' %}" alt="icon" width="20px"
                    height="20px"></span> Material UI</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/angular.png' %}" alt="icon" width="20px"
                    height="20px"></span> Angular</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/vue.png' %}" alt="icon" width="20px"
                    height="20px"></span> Vue</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="large-menubox">
          <h3>Back End</h3>
          <ul>
            <li><a href="#"><span><img src="{% static 'images/technology/node-js.png' %}" alt="icon" width="20px"
                    height="20px"></span> Node JS</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/python.png' %}" alt="icon" width="20px"
                    height="20px"></span> Python</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/django.png' %}" alt="icon" width="20px"
                    height="20px"></span> Django</a></li>
            <li><a href="#"><span><img src="{% static 'images/technology/ruby-on-rails.png' %}" alt="icon" width="20px"
                    height="20px"></span> Rails</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ul>
</li>